
@{
    ViewBag.Title = "Exhibition";
}

<main id="main">
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/exibition1.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/exibition3.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/exibition4.jpg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Exibition Details</h3>
                        <ul>
                            <li><strong>UpComing</strong>: Soon</li>
                            <li><strong>Past</strong>: 10 August, 2022</li>
                            <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Some Information Regarding Exibition</h2>
                        <p>
                            Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
                        </p>
                    </div>
                </div>
                <!-- ======= Portfolio Section ======= -->
                <section id="portfolio" class="portfolio">
                    <div class="container">

                        <div class="section-title">
                            <h2 data-aos="fade-up">Art In Sale</h2>
                            <p data-aos="fade-up">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                        </div>

                        <div class="row" data-aos="fade-up" data-aos-delay="100">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <ul id="portfolio-flters">
                                    <li data-filter="*" class="filter-active">All</li>

                                    <li data-filter=".filter-card">Card</li>

                                </ul>
                            </div>
                        </div>

                        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/home1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Card </h4>
                                    <p>Card</p>
                                    <a href="~/ThemePageIntegrated/Flexor/assets/img/home1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/artsale.jpg" class="img-fluid" alt="">

                                <div class="portfolio-info">
                                    <h4>Card </h4>
                                    <p>Card</p>
                                    <a href="~/ThemePageIntegrated/Flexor/assets/img/artsale.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/artsale1.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Card </h4>
                                    <p>Card</p>
                                    <a href="~/ThemePageIntegrated/Flexor/assets/img/artsale1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/jourey.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Card </h4>
                                    <p>Card</p>
                                    <a href="~/ThemePageIntegrated/Flexor/assets/img/jourey.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/artsale3.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Card </h4>
                                    <p>Card</p>
                                    <a href="~/ThemePageIntegrated/Flexor/assets/img/artsale3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/artsale4.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Card </h4>
                                    <p>Card</p>
                                    <a href="~/ThemePageIntegrated/Flexor/assets/img/artsale4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/artsale5.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Card </h4>
                                    <p>Card</p>
                                    <a href="~/ThemePageIntegrated/Flexor/assets/img/artsale5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/artsale6.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Card </h4>
                                    <p>Card</p>
                                    <a href="~/ThemePageIntegrated/Flexor/assets/img/artsale6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>

                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                <img src="~/ThemePageIntegrated/Flexor/assets/img/artsale7.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Card </h4>
                                    <p>Card</p>
                                    <a href="~/ThemePageIntegrated/Flexor/assets/img/artsale7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>

                                </div>
                            </div>

                        </div>

                    </div>
                </section><!-- End Portfolio Section -->


            </div>

        </div>
    </section>
</main>

