
@{
    ViewBag.Title = "Journey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-8 entries">

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/ThemePageIntegrated/Flexor/assets/img/journey1.png" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title">
                            <p>
                                We could say a personal artistic journey is how artists explore and transform their ideas, the evolution of their practice over time.
                                Their visual form will change or be altered as a result of the exploration of ideas, subject, and mediums.
                            </p>
                        </h2>



                    </article>

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/ThemePageIntegrated/Flexor/assets/img/jourey2.jpg" alt="" class="img-fluid">
                        </div>

                        <h2 class="entry-title"></h2>


                        <div class="entry-content">
                            <p>
                                Beginning with the spark of inspiration and finishing with the completion of a work, this illustrated guide portrays
                                the five stages of making art.Personal. The personal functions of art are often the most difficult to explain. There are many types of
                                personal functions and these are highly subjective. Personal functions of art are not likely to be the same from person to person.
                                An artist may create a piece out of a need for self-expression or gratification.

                            </p>
                        </div>
                    </article><!-- End blog entry -->

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/ThemePageIntegrated/Flexor/assets/img/jourey3.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="entry-content">
                            <p>
                                The three fine arts of painting, sculpture, and architecture are sometimes also called the “major arts”, with “minor arts” referring to commercial or decorative art styles.
                                Architecture is the only form of fine visual art with a sense of utility or elements of practicality.
                                Personal Function Arts are vehicles for the artists' expression of their feelings and ideas. The arts also serve as means of expression for us. The therapeutic value of music cannot be ignored.

                            </p>
                        </div>

                    </article><!-- End blog entry -->

                    <article class="entry">

                        <div class="entry-img">
                            <img src="~/ThemePageIntegrated/Flexor/assets/img/jourey4.jpg" alt="" class="img-fluid">
                        </div>


                        <div class="entry-content">
                            <p>
                                Aspernatur rerum perferendis et sint. Voluptates cupiditate voluptas atque quae. Rem veritatis rerum enim et autem. Saepe atque cum eligendi eaque iste omnis a qui.
                                Quia sed sunt. Ea asperiores expedita et et delectus voluptates rerum. Id saepe ut itaque quod qui voluptas nobis porro rerum. Quam quia nesciunt qui aut est non omnis. Inventore occaecati et quaerat magni itaque nam voluptas. Voluptatem ducimus sint id earum ut nesciunt sed corrupti nemo.
                            </p>

                        </div>

                    </article>
                </div>
            </div>
        </div>
    </section>

</main>

