
@{
    ViewBag.Title = "PrivacynPolicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">

        <div class="container">

            <h1>Privacy Policy</h1>
            <h4>
                Last updated: June 02, 2020

                This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the
                Service and tells You about Your privacy rights and how the law protects You.
                We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information
                in accordance with this Privacy Policy.
            </h4><br>
            <h1>Interpretation and Definitions</h1>
            <p>
                The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether
                they appear in singular or in plural.

            </p><br>

            <h1>CCPA Privacy</h1>
            <p>
                <ul>
                    <li>
                        Consent: You have given Your consent for processing Personal Data for one or more specific purposes.
                    </li>
                    <li>
                        Performance of a contract: Provision of Personal Data is necessary for the performance of an agreement with You and/or for any pre-contractual obligations thereof.
                    </li>
                    <li>
                        Legal obligations: Processing Personal Data is necessary for compliance with a legal obligation to which the Company is subject.
                    </li>
                    <li>
                        Legitimate interests: Processing Personal Data is necessary for the purposes of the legitimate interests pursued by the Company.
                    </li>
                </ul>
            </p>
            <p>
                In any case, the Company will gladly help to clarify the specific legal basis that applies to the processing, and in particular whether the provision of Personal Data is a statutory or
                contractual requirement, or a requirement necessary to enter into a contract.

            </p>


        </div>




    </section><!-- End About Section -->



</main><!-- End #main -->
