
@{
    ViewBag.Title = "visionnMission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="main">

    <section class="inner-page pt-3">
        <div>
            <h1 style="text-align:center; font-size: 5vw"><b>WHO WE ARE</b></h1>
            <img src="~/ThemePageIntegrated/Flexor/assets/img/vission.png" style="  display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;

    " />
        </div>

        <br />
        <div class="container">
            <!-- ======= About Section ======= -->
            <section id="about" class="about section-bg">

                <div class="container">

                    <div class="row">
                        <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
                            <img src="~/ThemePageIntegrated/Flexor/assets/img/art1.png" style="width: 500px; ;" />
                            <!--  <a href="https://www.youtube.com/watch?v=wfcO2G03THE" class="glightbox play-btn mb-4"></a> -->
                        </div>

                        <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 ">

                            <h3 data-aos="fade-up">VISION</h3>
                            <p data-aos="fade-up">
                                OGDEN CONTEMPORARY ARTS inspires local and regional artists through active involvement with the international contemporary
                                art community. OCA strives to be viewed as a credible and internationally respected art establishment; while empowering artists with the facilities,
                                environment and experience to excel in their medium and enrich their lives.
                            </p>

                            <div class="icon-box" data-aos="fade-up">
                                <div class="icon"><i class="bx bx-fingerprint"></i></div>
                                <h4 class="title"><a href="">Our Mission</a></h4>
                                <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                            </div>

                            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                                <div class="icon"><i class="bx bx-gift"></i></div>
                                <h4 class="title"><a href="">CORE VALUES</a></h4>
                                <p class="description">
                                    To breakdown existing and perceived barriers surrounding contemporary art.
                                    To be an established, valuable organization that takes risks and inspires change
                                    To be a vehicle for respectful dialogue, diverse representation, and unbiased opportunity.


                                </p>
                            </div>

                            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                                <div class="icon"><i class="bx bx-atom"></i></div>
                                <h4 class="title"><a href="">PEOPLE AND CENTER</a></h4>
                                <p class="description">
                                    Learn more about our 501 (c)(3) nonprofit organization on the  Our Center and Our People.
                                </p>
                            </div>

                        </div>
                    </div>

                </div>
            </section><!-- End About Section -->



        </div>
    </section>

</main><!-- End #main -->
